@import "normalize";

html {
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 Oxygen,
                 Ubuntu,
                 Cantarell,
                 "Open Sans",
                 "Helvetica Neue",
                 sans-serif;
    font-size: 14px;
    font-weight: 100;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }
}

body {
    padding: 1em;

    @media screen and (min-width: 480px) {
        padding: 2em;
    }
}

h1 {
    font-weight: 400;
    margin: 0 0 .25em;

    @media screen and (min-width: 768px) {
        font-size: 3em;
        font-weight: 200;
    }

    @media screen and (min-width: 1024px) {
        font-size: 4em;
        font-weight: 100;
    }
}

table {
    border-collapse:collapse;
    border-spacing:0;
    max-width: 100%;
    width: 100%;

    th,
    td {
        border-top: 1px solid #ccc;
        padding: .25em .5em;
        text-align: left;
        vertical-align: top;
    }

    th {
        border-bottom: 2px solid #ccc;
        border-top: none;
        font-weight: 600;
        vertical-align: bottom;
    }
}

.num {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}
